/**
* !  Google Fonts  
**/
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Josefin+Sans:wght@200;300;400;500&family=Montserrat:wght@200;300;400;700&family=PT+Serif&family=Poppins:wght@200;300&family=Roboto:wght@500&display=swap");

/**
* !  Css Reset  
**/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif, "Montserrat", "Josefin Sans";
}

body main {
  color: #b3b3b3;
  width: 100%;
}
li {
  list-style: none;
}
.logo a,
li a {
  color: #151f1e;
  text-decoration: none;
}
input,
textarea,
button {
  outline: none;
  box-shadow: none;
}
/**
* !  Css Variables  
**/
:root {
  --mHeading-fz: 4rem;
  --mHeading-fw: 700;
  --mHeading-clr: #f7f4ef;
  --para-clr: #b3b3b3;
  --btn-bg: #99cd329a;
  --btn-clr: #fff;
  --boxShadow: 0px 3px 4.5px rgba(0, 0, 0, 0.418);
  --focus-clr: #9acd32;
  --transition: all 0.3s ease-in-out;
}

/**
* !  Navbar  
**/
nav {
  height: 80px;
  box-shadow: var(--boxShadow);
}
.nav .logo {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: #151f1e;
}
.nav .logo span {
  font-style: italic;
  color: #9acd32;
}
.nav .listItems {
  margin-right: 1.5em;
  padding: 1em;
}
.nav .links {
  font-size: 2rem;
  color: #151f1e;
  transition: var(--transition);
}
.nav .links:hover {
  color: #a1e912;
  cursor: pointer;
}

/**
* !  Navbar End  
**/

/**
* !  Home Section Start  
**/

.carousal {
  height: 450px;
  /* border: 2px solid greenyellow; */
  border-radius: 5px;
  /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.445) ) ,  url("/images/11.jpg"); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* display: none; */
}
.carousal figure {
  height: 100%;
  width: 100%;
}
.carousal img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  box-shadow: var(--boxShadow);
}
.controls {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  padding: 0.5em 0.2em;
  cursor: pointer;
  color: #fff;
}
.back {
  position: absolute;
  text-align: center;
  left: 8px;
  background-color: #151f1e52;
}

.next {
  position: absolute;
  right: 8px;
  background-color: #151f1e52;
}

/**
    *! Home Section End
**/

/**
    *! About Section Start
**/


/**
    *! About Section End
**/

